#textField {
	-fx-padding: 20px;
	-fx-border-insets: 10px;
	-fx-background-insets: 10px;
}

#button {
	-fx-padding: 20px;
	-fx-border-insets: 10px;
	-fx-background-insets: 10px;
}

#label {
	-fx-padding: 10px;
	-fx-border-insets: 10px;
	-fx-background-insets: 10px;
	-fx-text-fill: rgb(127,127,127);
	-fx-font-size: 32;
	-fx-min-width: 300px;
}
